.preloader
  .overlay
  p.preloader__text Hermann
  .preloader__number
    .preloader__number__text 0%
  .preloader__animation
    each frame, index in preloader.data.body
      div(class=`frame frame${index + 1}`)
        each image, imageIndex in frame.items
          img(
            class=`img${imageIndex + 1}`
            src=image.img.url
            fetchpriority="high"
            loading="eager"
            alt="Loading..."
          )