extends ../base.pug

block variables
  - var template = 'home'

block content
  .hermann__rotate
    .hermann__move 
      .hermann__reverse
        .hermann__text Hermann
  .content__rotate
    .content__move
      .content__reverse
        .home(data-background="hsl(0, 1%, 27%)" data-color="#37384C")
            .galleries="GALLERIES"
            .banner
              .slider(style="--quantity: 7")
                .item(style="--position: 1")
                  img(src="./images/Hermann6.webp" alt="Pop Art")

                .item(style="--position: 2")
                  img(src="./images/Hermann7.webp" alt="Lnife/Art")

                .item(style="--position: 3")
                  img(src="./images/Hermann8.webp" alt="Who is Coming?")

                .item(style="--position: 4")
                  img(src="./images/Hermann1.webp" alt="Comic Books")

                .item(style="--position: 5")
                  img(src="./images/Hermann2.webp" alt="Acrylics")

                .item(style="--position: 6")
                  img(src="./images/Hermann5.webp" alt="Randoms?")

                .item(style="--position: 7")
                  img(src="./images/Hermann3.webp" alt="Comic Slides")

            .gallery__details
              .gallery__details__item
                .gallery__details__title="Pop Art"
                .gallery__details__paragraph="Bold colors and sharp lines create dynamic portraits, blending modern culture with expressive visual storytelling."

              .gallery__details__item
                .gallery__details__title="Life/Art"
                .gallery__details__paragraph="A visual journey that blurs the lines between life and art, where human expressions meet vibrant illustrations."

              .gallery__details__item.gallery__details__item--active
                .gallery__details__title="Who is Coming?"
                .gallery__details__paragraph="An illustrated showcase of event attendees, capturing the unique personalities and vibrant energy of The Flex."

              .gallery__details__item
                .gallery__details__title="Comic Books"
                .gallery__details__paragraph="Dynamic stories brought to life with bold visuals and engaging characters, leaping from page to reality"


              .gallery__details__item
                .gallery__details__title="Acrylics"
                .gallery__details__paragraph="Random but most exciting"


              .gallery__details__item
                .gallery__details__title="Randoms?"
                .gallery__details__paragraph="Random but most exciting"

              .gallery__details__item
                .gallery__details__title="Comic Slides"
                .gallery__details__paragraph="A lively visual narrative capturing vibrant moments, blending humor and culture in a bold, comic style."


